[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
passlib = "*"
flask-jwt-extended = "*"
werkzeug = "==0.16.1"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
